@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project Management App</h1>
    <p class="lead">Manage tasks, resources and plan the allocation at one place.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Resources</h2>
        <p>
            Resource description
        </p>
        <p><a class="btn btn-default" href="/Resources/Index">Go</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tasks</h2>
        <p>
            Tasks Description
        </p>
        <p><a class="btn btn-default" href="/ProjectTasks/Index">Go</a></p>
    </div>
    <div class="col-md-4">
        <h2>Allocation</h2>
        <p>
            Allocation Description
        </p>
        <p><a class="btn btn-default" href="/Allocation/Tasks">Go</a></p>
    </div>
</div>